.list {
    overflow: auto;
    font-family: sans-serif;
    color: #2c3e50;
    box-sizing: border-box;
    font-size: 14px;
    height: 90%;

    &__item {
        padding: 10px;
        background: #ecf0f1;
        border: 1px solid #ecf0f1;
        margin-bottom: 5px;
        transition: transform .2s ease;
        box-sizing: border-box;
        word-break: break-word;

        &:hover {
            cursor: pointer;
        }

        &:active {
            transform: scale(.98);
        }

        &--selected {
            border-color: #2c3e50;
        }
    }

    &__header {
        padding-bottom: 5px;
        font-size: 16px;
    }

    &__flag {
        display: inline-block;
        padding: 0 5px 0 0;
        color: #7f8c8d;
        word-break: break-word;
    }
}